@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900');

/* --- general -- */

body {
    font-family: "Poppins", sans-serif;
    color: #4d4d4d;
    line-height: 1.5;
}

.uppercase {
    text-transform: uppercase;
}

html {
    scroll-behavior: smooth;
}

.text-center {
    text-align: center;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.section-site {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-header {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 10px;
    padding-left: 10px;
    color: #782b1e;
}

.section-header h1 {
    font-size: 250%;
    font-weight: 200;
}

.pointer {
    cursor: pointer;
}

/* --- navbar -- */

.bgr-navbar {
    background-color: #000000;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.55);
}

.navbar-brand {
    font-family: "Pappins", sans-serif;
    font-weight: 500;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar i {
    padding-right: 10px;
    color: #782b1e;
    font-size: 25px;
}

.navbar .navbar-toggler {
    border: 0;
}

.nav-item {
    font-weight: 400;
}

nav .navbar-nav li a {
    color: #f9f9f9 !important;
}

nav .navbar-nav li a:hover {
    color: #b8a09e !important;
}

/* --- main image -- */

#main-image {
    overflow: hidden;
    position: relative;
}

.callout-img {
    height: 100vh;

    background: url("..//images/bg-collout.jpg") no-repeat center center;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    animation-name: main-zoom;
    animation-duration: 5s;
    animation-fill-mode: backwards;
    background-attachment: fixed !important;
}

@keyframes main-zoom {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
}

/* --- main text -- */

.callout {
    color: #f9f9f9;
    text-align: center;
    padding-bottom: 15px;
}

.callout h1 {
    font-weight: 700;
    font-size: 350%;
}

.callout h5 {
    font-weight: 100;
    font-size: 150%;
    line-height: 1.3;
}

/* --- about section -- */

.section-content {
    margin: 0 10px;
}

.col-left-info {
    overflow: hidden;
    display: inline-block;
    margin: 10px 10px 0;
}

.col-right-info {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 10px;
    font-weight: 300;
}

.col-right-info p {
    text-align: justify;
}

.grow img{
    transition: 0.5s ease-in-out;
}

.grow img:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

/* --- visit section -- */

#visit {
    background-color: #f9f9f9;
}

.col-9-area {
    padding-bottom: 15px;
}

.col-9-area p {
    padding: 0 15px;
    font-size: 15px;
}

.col-9-area h5 {
    padding: 0 15px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
}

.col-9.col-9-area {
    padding-bottom: 40px;
}

/* --- design background --- */

.bg-design {
    height: 30vh;
    background: url("..//images/bg-video.jpeg") no-repeat center right;
    display: flex;
    background-size: cover;
    background-attachment: fixed !important;
}

/* --- gallery section -- */

.modal-content {
    position: relative;
}

.overlay {
    position: absolute;
    right: 10px;
    color: #f9f9f9;
    font-size: 200%;
    font-weight: 100;
}

.text-mf {
    font-weight: 100;
    text-align: center;
}

/* --- video section -- */

#video {
    background-color: #f9f9f9;
}

/* --- subscribe section -- */

#form {
    margin: 20px 20px 0;
}

.text-input {
    outline: none;
    font-weight: 100;
}

.text-input:hover {
    border: 1px solid #782b1e;
}

input[type=text]:focus {
    background-color: #f9f9f9;
    outline: none;
}

  input[type=email]:focus {
    background-color: #f9f9f9;
}

.bttn {
    background-color: #782b1e;
    border: none;
    padding: 5px 25px;
    color: #f9f9f9;
    border-radius: 10px;
}

.bttn:hover {
    background-color: #f9f9f9;
    border: 1px solid #782b1e;
    color: #782b1e;
    outline: none;
}

.subscribed-msg {
    font-size: 20px;
    font-size: 100;
    margin-top: 30px;
    color: green;
}

/* --- footer section -- */

.section-site-footer {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #782b1e;
    color: #f9f9f9;
}

.section-site-footer h5 {
    margin-top: 30px;
}

.footer-content {
    margin-top: 25px;
    font-weight: 100;
}

.footer-content i {
    color: #f9f9f9;
    margin-left: 10px;
    font-size: 12px;
}

.footer-content a {
    color: #f9f9f9;
    text-decoration: none;
}

.footer-content i:hover {
    color: #b8a09e;
 }

.footer-content a:hover {
    color: #b8a09e;
 }

 .social-links i {
     font-size: 26px;
     margin-left: 0;
 }

 .social-links i:hover {
     color: #b8a09e;
 }

 .insta-feed {
     width: 75px;
     height: 42px;
     margin-right: 5px;
     margin-bottom: 5px;
 }

/* --- responsive section -- */

@media (min-width: 768px) {
    .section-content {
        margin: 0 50px;
    }
    
    .col-left-info {
        margin: 20px 20px 0;
    }

    .col-right-info {
        margin-top: 15px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 0 20px;
    }
}

@media (min-width: 992px) {
    .section-content {
        margin: 0 100px;
    }

    .col-left-info {
        margin: 20px 20px 20px 50px;
    }

    .col-right-info {
        margin-right: 50px;
        margin-left: 0;
        padding-right: 20px;
    }
}